.page.theme_dark {
  --main-color: #00183F;
  --accent-color: #FF0070;
  --content-color: #F1B2CE;
  --title-color: #DB00FF;
  --header-shadow-color: var(--accent-color);
  --nav-color: #FF0070;
  --hover-color: rgba(255, 0, 112, 0.40);
  --title-decor-color: #000028;
  --main-section-title-color: var(--accent-color);
  /* background-image: url(../images/cover-image-dark.png); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-color: #00183F;
    --accent-color: #FF0070;
    --content-color: #F1B2CE;
    --title-color: #DB00FF;
    --header-shadow-color: var(--accent-color);
    --nav-color: #FF0070;
    --hover-color: rgba(255, 0, 112, 0.40);
    --title-decor-color: #000028;
    --main-section-title-color: var(--accent-color);
    /* background-image: url(../images/cover-image-dark.png); */  
    }
}