:root {
  --main-color: #00183f;
  --accent-color: #ff0070;
  --content-color: #f1b2ce;
  --title-color: #db00ff;
  --header-shadow-color: var(--accent-color);
  --border-color: var(--accent-color);
  --hover-color: rgb(255 0 112 / 0.4);
  --title-decor-color: #000028;
  --main-section-title-color: var(--accent-color);
}

.page.theme_light .title-decor {
  color: var(--content-color);
}

@media (prefers-color-scheme: light) {

  .page.theme_auto {
    background-image: url(../images/cover-image-light.png);

    & .decorative-sign {
      display: none;
    }
  }

  @media (width >= 1024px) {

    .page.theme_auto {
      --header-shadow-color: #ff0070;
    }
  }
}
